// @font-face {
//   font-family: "OpenSans";
//   src: url("../fonts/opensans.woff") format("woff2"),
//     url("../fonts/opensans.woff") format("woff");
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: "Graphik-Cy";
  src: url("../fonts/GraphikCy-Regular.woff2") format("woff2"),
    url("../fonts/GraphikCy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Graphik-LC";
  src: url("../fonts/GraphikLC-Medium.woff2") format("woff2"),
    url("../fonts/GraphikLC-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN";
  src: url("../fonts/DIN2014Web-NarrowDemi.woff2") format("woff2"),
    url("../fonts/DIN2014Web-NarrowDemi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
