.reviews {
  display: flex;
  align-items: center;

  &__stars {
    display: flex;
    margin-right: calc(var(--gap) * 0.6);
  }

  &__star {
    width: 12px;
    height: 12px;
    margin-right: calc(var(--gap) * 0.3);
    fill: var(--paleColor);

    &:last-child {
      margin-right: 0;
    }

    &--active {
      fill: var(--primaryColor);
    }
  }

  &__count {
    font-family: var(--fontGraphik);
    color: var(--paleColor);
    font-size: 11px;
    line-height: 15px;
  }
}
