.sub-title {
  display: inline-block;
  padding: var(--gap) calc(var(--gap) * 3);
  font-family: var(--fontGraphik);
  font-size: 22px;
  line-height: 27px;
  background-color: var(--secondaryColor);
  transform: skew(-12deg);

  div {
    transform: skew(12deg);
  }

  @include desktop() {
    font-size: 20px;
    line-height: 25px;
  }

  @include laptop() {
    font-size: 16px;
    line-height: 20px;
  }

  @include phones() {
    font-size: 8px;
    line-height: 9px;
  }
}
