.title-block {
  flex: 0 0 auto;
  height: 100%;
  background: radial-gradient(
      30% 40% at 20% 0%,
      rgba(#99ccff, 0.5),
      transparent
    ),
    radial-gradient(20% 40% at 20% 110%, rgba(#76bc21, 0.5), transparent),
    radial-gradient(20% 40% at 80% -10%, rgba(#76bc21, 0.5), transparent),
    url("../../img/lines.svg") center no-repeat;
  background-color: var(--backgroundBannerColor);

  &__content {
    width: 50%;
    flex: 0 0 auto;
    padding: calc(var(--gap) * 5.7) 0 calc(var(--gap) * 5.7)
      calc(var(--gap) * 9);

    @include desktop() {
      padding: calc(var(--gap) * 4.7) 0 calc(var(--gap) * 4.7)
        calc(var(--gap) * 5);
    }

    @include laptop() {
      padding: calc(var(--gap) * 3.8) 0 calc(var(--gap) * 3.8)
        calc(var(--gap) * 2);
    }

    @include phones() {
      padding: calc(var(--gap) * 2.8) 0 calc(var(--gap) * 2.8)
        calc(var(--gap) * 1);
    }
  }

  &__container {
    display: flex;
    height: 100%;
  }
}
