.title {
  font-family: var(--DINWebNarrow);
  font-weight: 600;
  font-size: 61px;
  line-height: 1.05;
  text-transform: uppercase;
  margin-bottom: var(--gap);

  @include desktop() {
    font-size: 50px;
  }

  @include laptop() {
    font-size: 40px;
  }

  @include phones() {
    font-size: 21px;
  }
}
